.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.sidebar {
    padding: 6px;
    display: inline-block;
    z-index: 1 !important;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e7e7;
    max-width: 210px;
    border: 2px solid rgba(255, 255, 255, .5);
    margin: 12px;
}